:root {
  font-family: Arial, serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.main-container {
  background: #F6F8FC;
  padding: 15vh 10% 0;
  height: 100%;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold !important;
}

.footer {
  height: 15vh;
}

/*# sourceMappingURL=main.css.map */
