@keyframes slideFromTop {
  0% {
    transform: translateY(-97%);
  }
  100% {
    transform: translateY(0);
  }
}

$avatar-size: 35px;

.navbar {
  display: grid;
  grid-template-columns: 20% 1fr 30px $avatar-size;
  grid-template-rows: 50px;
  padding: 0 10%;
  position: fixed;
  top: 0;
  width: 80%;
  background: white;
  z-index: 1000;
  animation: 0.2s ease-out 0s 1 slideFromTop;

  > .logo {
    position: relative;
    top: 12px;
    max-height: 30px;
    grid-column: 1;
    cursor: pointer;
  }

  > .notifications {
    grid-column: 3;
    color: #b8b8b8;
    position: relative;
    top: 19px;
    max-height: 20px;

    &:hover {
      filter: brightness(50%);
      cursor: pointer;
    }
  }
}

.avatar {
  grid-column: 4;
  display: block;
  text-align: center;

  > .avatar-circle {
    position: absolute;
    top: 9px;
    width: $avatar-size;
    height: $avatar-size;
    background-color: #ff8a21;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    > span {
      position: absolute;
      top: $avatar-size / 4;
      font-size: $avatar-size / 2;
      line-height: $avatar-size / 2;
      left: 0;
      color: white;
      width: 100%;
    }
  }

  input {
    position: relative;
    top: 6px;
    left: -4px;
    opacity: 0;
    cursor: pointer;
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    z-index: 1;

    &:checked ~ .menu {
      // opacity: 1;
      display: block;
    }

    &:hover ~ .avatar-circle {
      background: #c07314;
    }
  }

  > .menu {
    $menu-width: 160px;
    padding: 10px;
    position: relative;
    top: 6px;
    left: -($menu-width - $avatar-size);
    // opacity: 0;
    display: none;
    background: white;
    width: $menu-width;
    overflow-x: hidden;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.53));

    > .nickname {
      color: #B4BDC5;
      font-size: 0.9em;
    }

    > .status {
      margin-top: 3px;
      font-size: 0.8em;
      color: #B4BDC5;

      &:hover {
        cursor: pointer;
      }
    }

    > .divider {
      color: #B4BDC5;
      border-color: #B4BDC5;
      width: 70%;
    }

    > .menuitem {
      margin-bottom: 5px;
      padding: 5px 15px;
      text-align: left;

      &:hover {
        background: #d8d8d8;
        cursor: pointer;
      }

      .nickname {

      }
    }
  }
}
