@keyframes slideFromTop {
  0% {
    transform: translateY(-97%);
  }
  100% {
    transform: translateY(0);
  }
}
.navbar {
  display: grid;
  grid-template-columns: 20% 1fr 30px 35px;
  grid-template-rows: 50px;
  padding: 0 10%;
  position: fixed;
  top: 0;
  width: 80%;
  background: white;
  z-index: 1000;
  animation: 0.2s ease-out 0s 1 slideFromTop;
}
.navbar > .logo {
  position: relative;
  top: 12px;
  max-height: 30px;
  grid-column: 1;
  cursor: pointer;
}
.navbar > .notifications {
  grid-column: 3;
  color: #b8b8b8;
  position: relative;
  top: 19px;
  max-height: 20px;
}
.navbar > .notifications:hover {
  filter: brightness(50%);
  cursor: pointer;
}

.avatar {
  grid-column: 4;
  display: block;
  text-align: center;
}
.avatar > .avatar-circle {
  position: absolute;
  top: 9px;
  width: 35px;
  height: 35px;
  background-color: #ff8a21;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.avatar > .avatar-circle > span {
  position: absolute;
  top: 8.75px;
  font-size: 17.5px;
  line-height: 17.5px;
  left: 0;
  color: white;
  width: 100%;
}
.avatar input {
  position: relative;
  top: 6px;
  left: -4px;
  opacity: 0;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 1;
}
.avatar input:checked ~ .menu {
  display: block;
}
.avatar input:hover ~ .avatar-circle {
  background: #c07314;
}
.avatar > .menu {
  padding: 10px;
  position: relative;
  top: 6px;
  left: -125px;
  display: none;
  background: white;
  width: 160px;
  overflow-x: hidden;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.53));
}
.avatar > .menu > .nickname {
  color: #B4BDC5;
  font-size: 0.9em;
}
.avatar > .menu > .status {
  margin-top: 3px;
  font-size: 0.8em;
  color: #B4BDC5;
}
.avatar > .menu > .status:hover {
  cursor: pointer;
}
.avatar > .menu > .divider {
  color: #B4BDC5;
  border-color: #B4BDC5;
  width: 70%;
}
.avatar > .menu > .menuitem {
  margin-bottom: 5px;
  padding: 5px 15px;
  text-align: left;
}
.avatar > .menu > .menuitem:hover {
  background: #d8d8d8;
  cursor: pointer;
}

/*# sourceMappingURL=navbar.css.map */
