@charset "UTF-8";
.notification-toasts {
  position: fixed;
  bottom: 10px;
  right: 50px;
}
.notification-toasts > .notification-toast {
  position: relative;
  color: white;
  width: 200px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  grid-column-gap: 10px;
}
.notification-toasts > .notification-toast[type=error] {
  background: rgba(204, 97, 90, 0.8);
}
.notification-toasts > .notification-toast[type=error] > .notification-icon:before {
  font-family: "Font Awesome 5 free", serif;
  content: "";
}
.notification-toasts > .notification-toast[type=error]:hover {
  background: #cc615a;
  cursor: pointer;
}
.notification-toasts > .notification-toast[type=success] {
  background: rgba(119, 182, 118, 0.8);
}
.notification-toasts > .notification-toast[type=success] > .notification-icon:before {
  font-family: "Font Awesome 5 free", serif;
  content: "";
}
.notification-toasts > .notification-toast[type=success]:hover {
  background: #77b676;
  cursor: pointer;
}
.notification-toasts > .notification-toast[type=warning] {
  background: rgba(250, 160, 69, 0.8);
}
.notification-toasts > .notification-toast[type=warning] > .notification-icon:before {
  font-family: "Font Awesome 5 free", serif;
  content: "";
}
.notification-toasts > .notification-toast[type=warning]:hover {
  background: #faa045;
  cursor: pointer;
}
.notification-toasts > .notification-toast > .notification-icon {
  grid-area: 1/1/span 2/span 1;
  font-size: 30px;
  line-height: 30px;
}
.notification-toasts > .notification-toast > .notification-title {
  grid-area: 1/2;
  font-weight: bold;
}
.notification-toasts > .notification-toast > .notification-content {
  grid-area: 2/2;
}

/*# sourceMappingURL=notifications.css.map */
