.notification-toasts {
  position: fixed;
  bottom: 10px;
  right: 50px;

  > .notification-toast {
    position: relative;
    color: white;
    width: 200px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    grid-column-gap: 10px;

    &[type="error"] {
      background: rgba(204, 97, 90, .8);

      > .notification-icon:before {
        font-family: "Font Awesome 5 free", serif;
        content: '\f11a';
      }

      &:hover {
        background: rgba(204, 97, 90, 1);
        cursor: pointer;
      }
    }

    &[type="success"] {
      background: rgba(119, 182, 118, .8);

      > .notification-icon:before {
        font-family: "Font Awesome 5 free", serif;
        content: '\f058';
      }

      &:hover {
        background: rgba(119, 182, 118, 1);
        cursor: pointer;
      }
    }

    &[type="warning"] {
      background: rgba(250, 160, 69, .8);

      > .notification-icon:before {
        font-family: "Font Awesome 5 free", serif;
        content: '\f11a';
      }

      &:hover {
        background: rgba(250, 160, 69, 1);
        cursor: pointer;
      }
    }

    > .notification-icon {
      grid-area: 1 / 1 / span 2 / span 1;
      //position: relative;
      //top: 15px;
      font-size: 30px;
      line-height: 30px;
    }

    > .notification-title {
      grid-area: 1 / 2;
      font-weight: bold;
    }

    > .notification-content {
      grid-area: 2 / 2;
    }
  }
}
