.tiles {
  display: grid;
  grid-template-columns: repeat(16, minmax(15px, 1fr));
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
}
.tiles::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1/1;
  grid-column: 1/1;
}
.tiles > .card {
  perspective: 1000px;
}
.tiles > .card > .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.tiles > .card > .card-inner > .card-front,
.tiles > .card > .card-inner > .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tiles > .card > .card-inner > .card-front {
  font-size: 4vw;
}
.tiles > .card > .card-inner > .card-front > img {
  height: 8vw;
}
.tiles > .card > .card-inner > .card-back {
  overflow-y: auto;
  background: white;
  color: black;
}
.tiles > .card > .card-inner > .card-back > p {
  padding: 5%;
  margin: 0;
}

.flippable:hover .card-inner {
  transform: rotateY(180deg);
}
.flippable > .card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flippable > .card-inner > .card-back {
  transform: rotateY(180deg);
}

.slideable {
  overflow: hidden;
}
.slideable:hover .card-front {
  transform: translate(98%, 98%);
}
.slideable .card-front {
  transition: transform 0.3s ease-in;
}
.slideable > .card-inner {
  transform-style: flat;
}
.slideable > .card-inner > .card-front {
  z-index: 5;
}

.slide-roll:hover .card-front {
  transform: rotate(90deg) translate(0, -150%);
}
.slide-left:hover .card-front {
  transform: translate(-98%, 0);
}
.slide-right:hover .card-front {
  transform: translate(98%, 0);
}
.slide-bottom:hover .card-front {
  transform: translate(0, 98%);
}

.button {
  padding: 15px;
  min-width: 100px;
  background-color: #2E99FE;
  border-radius: 5px;
  border: 0;
  color: white;
  font-weight: bold;
}
.button:hover {
  background: #1078cb;
  cursor: pointer;
}

#bsa {
  grid-column: 1/span 4;
  grid-row: 1/span 4;
}
#bsa > .card-inner > .card-front {
  background: white;
  color: black;
}
#bsa > .card-inner > .card-back {
  display: flex;
  align-items: center;
  justify-content: center;
}

#qa {
  grid-column: span 4;
  grid-row: span 4;
}
#qa > .card-inner > .card-front {
  background: #48B86F;
  color: white;
}

#js {
  grid-row: span 6;
  grid-column: span 4;
}
#js > .card-inner > .card-front {
  background: #F7CF69;
  color: black;
  font-weight: 600;
  font-size: 5.5vw;
}
#js > .card-inner > .card-front > p {
  position: absolute;
  bottom: 5px;
  right: 15px;
  margin: 0;
}

#java {
  grid-row: span 2;
  grid-column: span 4;
}
#java > .card-inner > .card-front {
  background: #E12B4C;
  color: white;
}

#php {
  grid-row: span 3;
  grid-column: span 8;
}
#php > .card-inner > .card-front {
  background: #8893BF;
  color: black;
  font-style: italic;
}

#dotnet {
  grid-column: span 5;
  grid-row: span 5;
}
#dotnet > .card-inner > .card-front {
  background: #642077;
  color: white;
}

#events {
  grid-row: span 2;
  grid-column: span 3;
}
#events > .card-inner > .card-front {
  font-size: 2.5vw;
  background: #2E99FE;
  color: white;
}

#blog {
  grid-row: span 2;
  grid-column: span 3;
}
#blog > .card-inner > .card-front {
  font-size: 2.5vw;
  background: #0343A3;
  color: white;
}

#contacts {
  grid-column: span 3;
  grid-row: span 1;
}
#contacts > .card-inner > .card-front {
  font-size: 2vw;
  background: #00255E;
  color: white;
}
#contacts > .card-inner > .card-back {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social {
  position: relative;
  width: 3vw;
  z-index: 1;
  vertical-align: middle;
}
.social:hover {
  filter: invert(8%) sepia(87%) saturate(7497%) hue-rotate(212deg) brightness(92%) contrast(98%);
}
.social > span {
  display: inline-block;
}
.social > span > .svg {
  position: relative;
  z-index: -1;
  height: 3vw;
}

@media screen and (min-width: 1000px) {
  #bsa {
    grid-column: 1/span 4;
    grid-row: 1/span 4;
  }

  #qa {
    grid-column: span 4;
    grid-row: span 4;
  }

  #js {
    grid-row: span 6;
    grid-column: span 4;
  }

  #java {
    grid-row: span 2;
    grid-column: span 4;
  }

  #php {
    grid-row: span 3;
    grid-column: span 8;
  }

  #dotnet {
    grid-column: span 5;
    grid-row: span 5;
  }

  #events {
    grid-row: span 2;
    grid-column: span 3;
  }

  #blog {
    grid-row: span 2;
    grid-column: span 3;
  }

  #contacts {
    grid-column: span 3;
    grid-row: span 1;
  }
}
@media screen and (max-width: 999px) {
  .card-front > img {
    height: 13vw !important;
  }

  #bsa {
    grid-column: 1/span 7;
    grid-row: 1/span 7;
  }

  #qa {
    grid-column: span 8;
    grid-row: span 3;
  }

  #js {
    grid-column: span 5;
    grid-row: span 7;
  }

  #java {
    grid-column: span 8;
    grid-row: span 3;
  }

  #php {
    grid-column: span 8;
    grid-row: span 3;
  }

  #dotnet {
    grid-column: span 8;
    grid-row: span 3;
  }

  #events {
    grid-column: span 4;
    grid-row: span 3;
  }

  #blog {
    grid-column: span 4;
    grid-row: span 3;
  }

  #contacts {
    grid-column: span 4;
    grid-row: span 1;
  }
}

/*# sourceMappingURL=tiles.css.map */
